In [59]:
import pandas as pd
df = pd.read_csv("Louisville_Metro_KY_Meals_Served_Summary.csv")
df.head()

,MealID,Date,BREADFST_SERV,LUNCH_SERV,SNACK_SERV,Site,SiteAddress,SiteZipcode,ObjectId
0,301,6/11/09 4:00,0.0,21,25,VICTORY CHRISTIAN CDC,1410 DIXIE HIGHWAY,40210,1
1,302,6/11/09 4:00,0.0,22,0,WALNUT ST ACTIVITIES,1143 S. 3RD ST.,40203,2
2,303,6/11/09 4:00,0.0,22,20,REFUGE IN KENTUCKY,207 S. Hancock,40202,3
3,304,6/11/09 4:00,0.0,23,26,REDEEMED CHRISTIAN CHURCH,3725 RIVER PARK DRIVE,40211,4
4,305,6/11/09 4:00,0.0,27,0,NEW JERUSALEM SPCL MNSTRY,2973 WILSON AVENUE,40211,5

Data obtained from Louisville Metro Open Data and Office of Resilience and Community Services. Published 7/6/22. Last Updated 6/9/25.

In [60]:
df.tail()

,MealID,Date,BREADFST_SERV,LUNCH_SERV,SNACK_SERV,Site,SiteAddress,SiteZipcode,ObjectId
9987,9652,7/23/13 4:00,30.0,70,0,PORTLAND COMMUNITY CENTER,640 N 27TH STREET,40212,9988
9988,9653,7/23/13 4:00,31.0,38,0,CALVARY MISSIONARY BAPTIST CHURCH,1368 SOUTH 28TH ST,40211,9989
9989,9654,7/23/13 4:00,35.0,0,32,ASCENSION KID'S TIME,4600 LYNNBROOK DRIVE,40220,9990
9990,9655,7/23/13 4:00,35.0,33,0,PRESBYTERIAN COMMUNITY CENTER,701 S HANCOCK ST,40203,9991
9991,9656,7/23/13 4:00,36.0,61,0,BEECHMONT COMMUNITY CENTER,205 W WELLINGTON AVENUE,40214,9992

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MealID         9992 non-null   int64
 1   Date           9992 non-null   object
 2   BREADFST_SERV  9990 non-null   float64
 3   LUNCH_SERV     9992 non-null   int64
 4   SNACK_SERV     9992 non-null   int64
 5   Site           9992 non-null   object
 6   SiteAddress    9992 non-null   object
 7   SiteZipcode    9992 non-null   object
 8   ObjectId       9992 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 702.7+ KB

In [51]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.rename(columns = {
    "mealid": "meal_id",
    "objectid": "object_id",
    "siteaddress": "site_address",
    "sitezipcode": "site_zipcode"
}, inplace=True)

In [52]:
df.describe().round(2)

       meal_id  breadfst_serv  lunch_serv  snack_serv  object_id
count  9992.00        9990.00     9992.00     9992.00    9992.00
mean   4996.50          16.42       39.92       10.68    4996.50
std    2884.59          21.00       34.06       27.58    2884.59
min       1.00           0.00        0.00        0.00       1.00
25%    2498.75           0.00       16.00        0.00    2498.75
50%    4996.50           7.00       30.00        0.00    4996.50
75%    7494.25          30.00       55.00        0.00    7494.25
max    9992.00         138.00      242.00     1300.00    9992.00

In [53]:
df.isnull().sum()

meal_id          0
date             0
breadfst_serv    2
lunch_serv       0
snack_serv       0
site             0
site_address     0
site_zipcode     0
object_id        0
dtype: int64

In [54]:
df.nunique()

meal_id          9992
date              212
breadfst_serv     114
lunch_serv        180
snack_serv        147
site              272
site_address      255
site_zipcode       26
object_id        9992
dtype: int64

### **Table of Contents**
* [Keep this file in your project](#keep-this-file-in-your-project)

# Keep this file in your project

keep at the bottom of your project

We will go over it later, its a script that will generate a markdown table of contents based on your headings created here in markdown.

In [55]:
import json
import os


def generate_toc_from_notebook(notebook_path):
    """
    Parses a local .ipynb file and generates Markdown for a Table of Contents.
    """
    if not os.path.isfile(notebook_path):
        print(f"❌ Error: File not found at '{notebook_path}'")
        return

    with open(notebook_path, 'r', encoding='utf-8') as f:
        notebook = json.load(f)

    toc_markdown = "### **Table of Contents**\n"
    for cell in notebook.get('cells', []):
        if cell.get('cell_type') == 'markdown':
            for line in cell.get('source', []):
                if line.strip().startswith('#'):
                    level = line.count('#')
                    title = line.strip('#').strip()
                    link = title.lower().replace(' ', '-').strip('-.()')
                    indent = '  ' * (level - 1)
                    toc_markdown += f"{indent}* [{title}](#{link})\n"

    print("\n--- ✅ Copy the Markdown below and paste"
          "it into a new markdown cell ---\n")
    print(toc_markdown)


if __name__ == "__main__":
    # Example usage
    notebook_path = 'lucy.ipynb'  # Replace with your notebook path
    generate_toc_from_notebook(notebook_path)

--- ✅ Copy the Markdown below and pasteit into a new markdown cell ---

### **Table of Contents**
    * [**Table of Contents**](#**table-of-contents**)
* [Keep this file in your project](#keep-this-file-in-your-project)